/*************************************************************************/
/*   Font Definitions
/*************************************************************************/


@font-face {
		font-family: 'ZurichCondensed';
		src: url('/assets/fonts/1FD75C_0_0.eot') format('eot'),
		url('/assets/fonts/1FD75C_0_0.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/1FD75C_0_0.woff') format('woff'),
		url('/assets/fonts/1FD75C_0_0.ttf') format('truetype'),
		url('/assets/fonts/1FD75C_0_0.svg#1FD75C_0_0') format('svg');
	
		font-weight: normal;
		font-style: normal;
	}

@font-face {
	font-family: 'ZurichCondensedLight';
	src: url('/assets/fonts/tt0296m_-webfont.eot') format('eot'),
	url('/assets/fonts/tt0296m_-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/tt0296m_-webfont.woff') format('woff'),
	url('/assets/fonts/tt0296m_-webfont.ttf') format('truetype'),
	url('/assets/fonts/tt0296m_-webfont.svg#tt0296m_-webfont') format('svg');

	font-weight: lighter;
	font-style: normal;
}

@font-face {
    font-family: 'AshRegular';
    src: url('/assets/fonts/ash-webfont.eot');
    src: url('/assets/fonts/ash-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ash-webfont.woff') format('woff'),
         url('/assets/fonts/ash-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

/*************************************************************************/
/*   Page elements
/*************************************************************************/

html, body {
	//width: 100%;
	height: 100%;
	text-align:left; 
	font-family: 'ZurichCondensedLight', Arial, Helvetica;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	border: 0;
	margin: 0;
	padding: 0;
	background: #070812 url('/assets/images/background-future-3.jpg') no-repeat fixed;
	background-size: cover;
}

h1 {
	font-family: 'ZurichCondensed', Arial, Helvetica;
	font-weight: 500;
	text-transform:uppercase;
	font-size: 2em;
	line-height: 1em;	
	letter-spacing: .05em;
	margin-top: 0;
	margin-bottom: 0.6em;
	text-shadow: 0 0 1px rgba(0,0,0,0.3);
	color: #fff;
	//-webkit-font-smoothing: subpixel-antialiased;

}

	h1 > span {
		font-family: 'ZurichCondensedLight', Arial, Helvetica;
		font-weight: 300;
		color: #74797f;
	}
	
h2 {
	font-family: 'ZurichCondensed';
	font-weight: 500;
	font-size: 1.15em;
	line-height: 1em;	
	text-transform:uppercase;
	color: #70757c;
	margin-bottom: 10px;
}

	h2 > span {
		display: inline-block;
		font-family: 'ZurichCondensedLight';
		font-weight: normal; 
		color: #46494c;
		margin-left: 5px;
	}

p {
	font-family: 'ZurichCondensedLight';
	font-size: 1.25em;
	line-height: 1.4em;
}

a, a:visited, a:active {color: #768794; text-decoration: none;}
a:hover {color: #fff;}

/*************************************************************************/
/*   Classes
/*************************************************************************/


a.photo {
	display: block;
	padding: 5px;
	border: 1px solid #73787f;
	background: #000;
	margin-bottom: 30px;	
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5);

	&:hover {
		border: 1px solid #C51213;
	}
}

.mark {position: absolute; opacity: .1;}

.selected {
	color: #c51213 !important;
}


/*************************************************************************/
/*   ID's
/*************************************************************************/

#future {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	height: auto;
	margin: 100px 0;


	h1 {
		color: #C51213;
	}

	p {
		color: #dbdae0;
	}

	.logo {

	}

	.photos {

	}
	
}

/*************************************************************************/
/*   Media Queries
/*************************************************************************/

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

	h1 {	
		letter-spacing: .05em;
		margin-bottom: 10px;
	}
		
	h2 {
		font-size: 1.15em;
		line-height: 1em;	
	}

	p {
		font-size: 1.3em;
		line-height: 1.5em;
	}

	#future {
		height: auto;
	}

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

	#future {
		height: auto;

		.logo {
			position: relative;
			top: auto;
			margin-top: 0;
			margin-bottom: 30px;
		}
	}


}

