/*************************************************************************/
/*   Font Definitions
/*************************************************************************/


@font-face {
		font-family: 'ZurichCondensed';
		src: url('../fonts/1FD75C_0_0.eot') format('eot'),
		url('../fonts/1FD75C_0_0.eot?#iefix') format('embedded-opentype'),
		url('../fonts/1FD75C_0_0.woff') format('woff'),
		url('../fonts/1FD75C_0_0.ttf') format('truetype'),
		url('../fonts/1FD75C_0_0.svg#1FD75C_0_0') format('svg');
	
		font-weight: normal;
		font-style: normal;
	}

@font-face {
	font-family: 'ZurichCondensedLight';
	src: url('../fonts/tt0296m_-webfont.eot') format('eot'),
	url('../fonts/tt0296m_-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/tt0296m_-webfont.woff') format('woff'),
	url('../fonts/tt0296m_-webfont.ttf') format('truetype'),
	url('../fonts/tt0296m_-webfont.svg#tt0296m_-webfont') format('svg');

	font-weight: lighter;
	font-style: normal;
}

@font-face {
    font-family: 'AshRegular';
    src: url('../fonts/ash-webfont.eot');
    src: url('../fonts/ash-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ash-webfont.woff') format('woff'),
         url('../fonts/ash-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

/*************************************************************************/
/*   Page elements
/*************************************************************************/

html, body {
	width: 100%;
	height: 100%;
	text-align:left; 
	font-family: 'ZurichCondensed', Arial, Helvetica;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	border: 0;
	margin: 0;
	padding: 0;
	background: #000;
}

h1 {
	font-family: 'AshRegular';
	text-transform:uppercase;
	font-size: 1em;
	line-height: 1em;	
	letter-spacing: .05em;
	margin-top: 0;
	margin-bottom: 0.6em;
	text-shadow: 0 0 1px rgba(0,0,0,0.3);
	-webkit-font-smoothing: subpixel-antialiased;

}

	h1 > span {color: #74797f;}
	
h2 {
	font-family: 'ZurichCondensed';
	font-size: 1.15em;
	line-height: 1em;	
	text-transform:uppercase;
	color: #70757c;
	margin-bottom: 5px;
}

	h2 > span {
		display: inline-block;
		font-family: 'ZurichCondensedLight';
		font-weight: normal; 
		color: #46494c;
		margin-left: 5px;
	}
	
	h2 + p {margin-top: 0px; font-size: 1.1em; letter-spacing: normal;}

p {
	font-family: 'ZurichCondensedLight';
	font-size: 16px;
	line-height: 1.3em;
}

a, a:visited, a:active {color: #768794; text-decoration: none;}
a:hover {color: #fff;}

form {margin-top: 50px;}

input {
	background: rgba(0,0,0,.2);
	box-shadow: inset 5px 5px 5px 5px rgba(0,0,0,.5);
	border: 1px solid #3e4148;
	color: #fff;
	padding: 8px;
	margin-bottom: 15px;	
}

input.button {
	width: auto !important;
	padding: 10px 20px;
	box-shadow: none;
	color: #6a87b0;
	
	background: #565656; /* Old browsers */

	background: -moz-linear-gradient(top,  #565656 0%, #000000 100%); /* FF3.6+ */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	
	background: -webkit-linear-gradient(top,  #565656 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	
	background: -o-linear-gradient(top,  #565656 0%,#000000 100%); /* Opera 11.10+ */
	
	background: -ms-linear-gradient(top,  #565656 0%,#000000 100%); /* IE10+ */
	
	background: linear-gradient(top,  #565656 0%,#000000 100%); /* W3C */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	
}

/*************************************************************************/
/*   ID's
/*************************************************************************/

#selected {
	position: absolute;
	width: 5px;
	height: 20%;
	background: red;	
	top: 0;
}

.navigation {
	position: fixed;
	top: 0;
	left: 0px;
	height: 100%;
	width: 120px;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 100;

}

.navigation ul {
	height: 100%;
	width: auto;	
}

.navigation li {
	position: relative;
	display: block;
	height: 20%;
	width: auto;
	margin:0 0 5px;
	padding: 0;
	border-bottom: 1px solid rgba(255,255,255,.2);
	/*border-left: 5px solid rgba(255,255,255,0);*/
	background:url(../images/navBackground.png) repeat-y;
	text-align: right;
	text-decoration: none;
	/*margin: 0 0 15px 0;*/	
}

#history, #home, #present, #future {
	position: relative; 
	border: 1px solid #333; 
	border: 1px solid rgba(255,255,255,.1);
	height: 100%;
	min-height: 768px;
}

#history {
	position: relative;
	background: #0b0803 url('../images/bg_heavy.jpg') 50% 0 no-repeat fixed;
	background-size: 100%;
	color: white;
	height: 100%;
	min-height: 768px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	z-index: 5;

	.photo {
		display: block;
		width: 250px; 
		height: 150px;  
		margin-right: 30px;
	}
}

	#history img.mark {position: fixed; top: 35%; left: 72%;}
	
	.leftcolumn, #history .leftColumn {
		position: absolute;
		left: 20%;
		top: 10%;
		width: 40%;
	}
	
	.rightColumn, #history .rightColumn {
		position: absolute;
		margin-left: 5%;
		top: 5%;
		left: 60%;
		width: 30%;
	}
	
	#history .logo {opacity: .5; margin-bottom: 50px; width: 110px;}
	
	#history h1 {text-shadow: #0b0803 0 0 1px;}
	

#home{
	background: #000 url('../images/background-home.jpg') 50% 0 no-repeat fixed;
	background-size: 100%;
	color: white;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	z-index:10;

	.leftColumn {
		position: absolute;
		top: 50%;
		left: 20%;
		width: 10%;
		margin-top: -75px;
	}

	.rightColumn {
		position: absolute;
		top: 50%;
		left: 30%;
		width: 40%;
		margin-top: -75px;
	}
}

#present {
	background: url('../images/background-present-2.jpg') 50% 0 no-repeat fixed;
	background-size: 100%;
	color: white;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;

	.leftColumn {
		position: fixed;
		top: 10%;
		left: 20%;
		width: 30%;
	}

	.rightColumn {
		position: fixed;
		top: 10%;
		left: 48%;
		width: 40%;
	}
	
	.firstColumn, .secondColumn, .thirdColumn, .fourthColumn {
		position: fixed;
		top: 45%;
		left: 20%;	
		width: 18%;
	}
	
	.secondColumn {left: 40%;}
	.thirdColumn {left: 60%;}
	.fourthColumn {left: 80%;}
	
	.row {
		position: fixed;
		top: 60%;
		left: 20%;	
	}
	
	.logo {opacity: .5; margin-bottom: 50px; width: 110px;}
	
	.photo {
		width: 250px; 
		height: 150px; 
		float: left; 
		margin-right: 30px;
	}


	.bg{
		background: url() 50% 0 no-repeat fixed;
		height: 1000px;
		margin: 0 auto;
		padding: 0;
		position: absolute;
		width: 900px;
		z-index: 200;
	}
}

#future {
	background: #fff url('../images/background-future-2.jpg') 50% 0 no-repeat fixed;
	background-size: 100%;
	height: 100%;
	min-height: 768px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;

	h1 {
		color: #C51213;
	}

	p {
		color: #70757c;
	}

	.leftColumn {
		position: absolute;
		top: 5%;
		left: 20%;
		width: 40%;
	}

	.rightColumn {
		position: absolute;
		top: 5%;
		left: 48%;
		width: 40%;
	}
	
	.logo {opacity: 1; margin-bottom: 50px; width: 110px;}
	
}


/*************************************************************************/
/*   Classes
/*************************************************************************/
.mark {position: absolute; opacity: .1;}

.firstColumn, .secondColumn, .thirdColumn {position: relative; float: left; width: 300px; height: auto; margin-right: 25px; margin-top: 50px;}
.firstColumn {clear: left;}
.secondColumn {}
.thirdColumn {margin-right: 0;}
	
.leftColumn {position: relative; float: left; height: 100%;}
.rightColumn {position: relative; float: left;}

	.intro .leftColumm {}
	.intro .rightColumn {margin-left: 25px; width: 500px;}

.photo {
	display: block;
	width: 135px;
	height: 105px;
	padding: 5px;
	border: 1px solid #73787f;
	background: #000;
	margin-bottom: 8px;	
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5);
}

.row {display: block; width: 100%; overflow: auto; clear: both;}

span.content {position: absolute; bottom: 0; right: 0; width: 100%}
a.selected {
	/* border-left: 5px solid #c51213 !important; */
	color: #c51213 !important;
}
/* li.selected > span > a {color: #c51213;}*/