/*************************************************************************/
/*   Font Definitions
/*************************************************************************/
@font-face {
  font-family: 'ZurichCondensed';
  src: url("/assets/fonts/1FD75C_0_0.eot") format("eot"), url("/assets/fonts/1FD75C_0_0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/1FD75C_0_0.woff") format("woff"), url("/assets/fonts/1FD75C_0_0.ttf") format("truetype"), url("/assets/fonts/1FD75C_0_0.svg#1FD75C_0_0") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ZurichCondensedLight';
  src: url("/assets/fonts/tt0296m_-webfont.eot") format("eot"), url("/assets/fonts/tt0296m_-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/tt0296m_-webfont.woff") format("woff"), url("/assets/fonts/tt0296m_-webfont.ttf") format("truetype"), url("/assets/fonts/tt0296m_-webfont.svg#tt0296m_-webfont") format("svg");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'AshRegular';
  src: url("/assets/fonts/ash-webfont.eot");
  src: url("/assets/fonts/ash-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/ash-webfont.woff") format("woff"), url("/assets/fonts/ash-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/*************************************************************************/
/*   Page elements
/*************************************************************************/
/* line 45, ../sass/single_page.scss */
html, body {
  height: 100%;
  text-align: left;
  font-family: "ZurichCondensed", Arial, Helvetica;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  border: 0;
  margin: 0;
  padding: 0;
  background: #000;
}

/* line 59, ../sass/single_page.scss */
h1 {
  font-family: 'AshRegular';
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1em;
  letter-spacing: .05em;
  margin-top: 0;
  margin-bottom: 0.6em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  color: #fff;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 73, ../sass/single_page.scss */
h1 > span {
  color: #74797f;
}

/* line 75, ../sass/single_page.scss */
h2 {
  font-family: 'ZurichCondensed';
  font-size: 1.15em;
  line-height: 1em;
  text-transform: uppercase;
  color: #70757c;
  margin-bottom: 5px;
}

/* line 84, ../sass/single_page.scss */
h2 > span {
  display: inline-block;
  font-family: 'ZurichCondensedLight';
  font-weight: normal;
  color: #46494c;
  margin-left: 5px;
}

/* line 92, ../sass/single_page.scss */
h2 + p {
  margin-top: 0px;
  font-size: 1.1em;
  letter-spacing: normal;
}

/* line 94, ../sass/single_page.scss */
p {
  font-family: 'ZurichCondensedLight';
  font-size: 16px;
  line-height: 1.3em;
}

/* line 100, ../sass/single_page.scss */
a, a:visited, a:active {
  color: #768794;
  text-decoration: none;
}

/* line 101, ../sass/single_page.scss */
a:hover {
  color: #fff;
}

/*************************************************************************/
/*   Classes
/*************************************************************************/
/* line 108, ../sass/single_page.scss */
.photo {
  display: block;
  padding: 5px;
  border: 1px solid #73787f;
  background: #000;
  margin-bottom: 8px;
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

/* line 119, ../sass/single_page.scss */
.mark {
  position: absolute;
  opacity: .1;
}

/* line 121, ../sass/single_page.scss */
.navigation {
  position: fixed;
  top: 0;
  left: 0px;
  height: 100%;
  width: 120px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 100;
}
/* line 132, ../sass/single_page.scss */
.navigation span.content {
  bottom: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

/* line 140, ../sass/single_page.scss */
.navigation ul {
  height: 100%;
  width: auto;
}

/* line 145, ../sass/single_page.scss */
.navigation li {
  position: relative;
  display: block;
  height: 20%;
  width: auto;
  margin: 0 0 5px;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: url(/assets/images/navBackground.png) repeat-y;
  text-align: right;
  text-decoration: none;
}

/* line 159, ../sass/single_page.scss */
.selected {
  color: #c51213 !important;
}

/*************************************************************************/
/*   ID's
/*************************************************************************/
/* line 168, ../sass/single_page.scss */
#history, #home, #present, #future {
  position: relative;
  border: 1px solid #333333;
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 100%;
  min-height: 768px;
}

/* line 176, ../sass/single_page.scss */
#future {
  background: white url("/assets/images/background-future-2.jpg") 50% 0 no-repeat fixed;
  background-size: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}
/* line 183, ../sass/single_page.scss */
#future h1 {
  color: #C51213;
}
/* line 187, ../sass/single_page.scss */
#future p {
  color: #70757c;
}
/* line 191, ../sass/single_page.scss */
#future .leftColumn, #future .rightColumn {
  margin-top: 15%;
}
/* line 195, ../sass/single_page.scss */
#future .logo {
  opacity: 1;
  margin-bottom: 50px;
  width: 110px;
}

/* line 199, ../sass/single_page.scss */
#history {
  position: relative;
  background: #0b0803 url("/assets/images/bg_heavy.jpg") 50% 0 no-repeat fixed;
  background-size: 100%;
  color: #fff;
  height: 100%;
  min-height: 768px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  z-index: 5;
}
/* line 211, ../sass/single_page.scss */
#history h1 {
  text-shadow: #0b0803 0 0 1px;
}
/* line 215, ../sass/single_page.scss */
#history .photo {
  display: block;
  width: 250px;
  height: 150px;
  margin-right: 30px;
}
/* line 222, ../sass/single_page.scss */
#history img.mark {
  position: fixed;
  top: 35%;
  left: 72%;
}
/* line 224, ../sass/single_page.scss */
#history .leftcolumn {
  margin-top: 100px;
}
/* line 228, ../sass/single_page.scss */
#history .logo {
  margin-top: 25px;
}
/* line 232, ../sass/single_page.scss */
#history .rightColumn {
  margin-top: 30px;
}
/* line 236, ../sass/single_page.scss */
#history .logo {
  opacity: .5;
  margin-bottom: 50px;
  width: 110px;
}

/* line 239, ../sass/single_page.scss */
#home {
  background: black url("/assets/images/background-home.jpg") 50% 0 no-repeat fixed;
  background-size: 100%;
  color: white;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  z-index: 10;
}
/* line 248, ../sass/single_page.scss */
#home .leftColumn, #home .rightColumn {
  margin-top: 35%;
}

/* line 254, ../sass/single_page.scss */
#present {
  background: url("/assets/images/background-present-2.jpg") 50% 0 no-repeat fixed;
  background-size: 100%;
  color: white;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}
/* line 262, ../sass/single_page.scss */
#present .leftColumn, #present .rightColumn {
  margin-top: 30%;
  margin-bottom: 50px;
}
/* line 267, ../sass/single_page.scss */
#present a.photo {
  text-align: center;
}

/* line 272, ../sass/single_page.scss */
#selected {
  position: absolute;
  width: 5px;
  height: 20%;
  background: red;
  top: 0;
}

/*************************************************************************/
/*   Media Queries
/*************************************************************************/
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 289, ../sass/single_page.scss */
  h1 {
    font-size: 1.1em;
    line-height: 1em;
    letter-spacing: .05em;
    margin-bottom: 10px;
  }

  /* line 296, ../sass/single_page.scss */
  h2 {
    font-size: 1.15em;
    line-height: 1em;
  }

  /* line 301, ../sass/single_page.scss */
  p {
    font-size: 17px;
    line-height: 1.3em;
    -webkit-font-smoothing: antialiased;
  }

  /* line 308, ../sass/single_page.scss */
  #history, #home, #present, #future {
    background-attachment: scroll;
  }

  /* line 313, ../sass/single_page.scss */
  #home .leftColumn, #home .rightColumn {
    margin-top: 30%;
  }

  /* line 320, ../sass/single_page.scss */
  #present .leftColumn, #present .rightColumn {
    margin-top: 130px;
    margin-bottom: 50px;
  }
  /* line 325, ../sass/single_page.scss */
  #present a.photo {
    text-align: center;
  }
}
